<% include partials/header%>
<header>
    <h1 class="text-center">Login</h1>
</header>
<main>
    <div class="container">
        <div class="col-12">
            <a href="/auth/google" class="btn btn-primary ">Google++</a>
        </div>
        <div class="col-12">
            <a href="/auth/facebook" class="btn btn-primary ">Facebook</a>
        </div>
    </div>
</main>
<% include partials/footer%>