<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="/">Back to playground</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">logOut</a>
        </li>
        
    </ul>
    <h1 class="text-center">Hello
        <%=user.displayName%>
    </h1>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>here is your profile information:</p>
                <p>
                    <%=user.id%>
                </p>
                <p>
                    <%=user.displayName%>
                </p>
                <p>
                    <%=user.name.familyName%>
                </p>
                <p>
                    <%=user.name.givenName%>
                </p>
                <p>
                    
                </p>
                
                <p><a href=" <%=user._json.url%>">LInk</a></p>
            </div>
        </div>
    </div>
    

    <!-- jQuery -->
    <script src="/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>