﻿<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">playground</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Spinner's ajax</a></li>
        <li><a href="/balls">Balls</a></li>
        <li><a href="/circularMotion">Circular Motion</a></li>
        <li><a href="/tetris">Tetris</a></li>
        <li><a href="/konami">konami</a></li>
        <li><a href="/jsClasses">js Classes</a></li>
        <li><a href="/videoSign">Video Signature</a></li>
        <li><a href="/auth/login">Google OAuth 2.0</a></li>
        <li><a href="/mongo">MongoDB</a></li>
        <li><a href="/recaptcha">Invisible reCaptcha</a></li>
        <li><a href="/pdfFiller">PDF Fill</a></li>
        <li><a href="/asyneawait">Async Await Test</a></li>
        <li><a href="/chart">Chart Demo</a></li>
        <li><a href="/customChart">Custom Chart</a></li>
      </ul>
    </div>
  </nav>