﻿<% include partials/header%>
<style>
    canvas {
        box-sizing: border-box;
        padding-bottom: 0px;
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        border-bottom: brown 1px dashed;
        background-color: transparent;
    }
</style>
<canvas name="canvas"></canvas>
<script src="/javascripts/canvas.js"></script>
<% include partials/footer%>