<% include partials/header %>
<style>
    nav {
        margin-bottom: 250px;
    }
</style>

<script src="/javascripts/Chart.bundle.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>TEst</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="chart-container text-center" style="width:100%; height:400px; ">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <form action="/chart" method="get">
                <div class="form-group">
                    <label for="months">How Many Months?</label>
                    <input class="form-control" type="number" name="months" id="months" max="98" min="36" value='36'>
                </div>
                <div class="form-group">
                    <label for="rate" class="text-capitalize">What percentage?</label>
                    <input type="number" class="form-control" name="rate" value='1'>
                </div>
                <div class="form-group">
                    <label for="startBal" class="text-capitalize">What is your initial balance?</label>
                    <input type="number" class="form-control" name="startBal" value='10000.00'>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let labels = [];
    <%if (months>0){%>
    <% for (let i = 0;i< months;i++){%>
    labels.push("Month <%=i+1%>")
    <%}}%>

    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Balance',
                data: [<%= balance %>],
                lineTension: .19,
                borderColor: [
                    'rgba(75,99,132,1)'
                ],
                borderWidth: 1,
                fill: false
            }]
        },
        options: {
            tooltips: {
                enabled: true,
                mode: 'nearest'
            },
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            }
        }
    });
</script>
<% include partials/footer %>