<% include partials/header%>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>
                <%= title %>
            </h1>
        </div>
        <div class="col-xs-12">
            <p>
                <span class="bounce">Welcome</span>
                <span class="altBounce">to</span>
                <span class="bounce"><%= title %></span>
            </p>
        </div>
        <div class="col-xs-4">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" id="name">
                </div>
                <div class="form-group">
                    <label for="phone">phone</label>
                    <input class="form-control" type="text" name="phone" id="phone">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            <input class="btn btn-default" type="submit" value="Submit">
                        </div>
                        <div class="col-xs-6">
                            <div class="spinner spinner-1 ">
                                <!-- <div class="spinner-2 spinner-3"></div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-4">
                    <div class="success">
                        <p>success</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/fiveSecTimeout.js"></script>
<script src="/javascripts/index.js"></script>
<% include partials/footer %>
