<% include partials/header%>

    <div>
        <p id="users"></p>
    </div>
    <div>
        <form id="userInput">
            <div class="form-group">
                <label for="email">Email Address</label>
                <input class="form-control" type="email" name="email" id="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" type="text" name="name" id="name" placeholder="name" required>
            </div>
            <div class="form-group">
                <input class="btn btn-default" type="submit" value="submit">
            </div>
        </form>
    </div>
    <script>
        $('#userInput').submit(function (e) {
            e.preventDefault();            
            var usersList=[];
            $.post('/newUser', $(this).serialize(), function (data) {
                console.log(data)
                for (let i = 0; i < data.length; i++) {
                    usersList += " Email: " + data[i].email + " Name: " + data[i].name
                $('#users').html(usersList)
            }
            })
        })
    </script>
    <% include partials/footer%>