﻿<%include partials/header%>
<div class="container">
    <p>Press up x2, down x2, left, right, left, right, b, a, enter</p>
</div>
<div class="container" id="konami" hidden>
    <div style="max-height:800px;">
    <img src="/images/jackedDog.jpg" alt="Woof" class="center-block" style="height:800px"/>
    </div>
</div>
<script src="/javascripts/konami.js"></script>
<%include partials/footer%>