<% include partials/header %>
<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <canvas id="canvas"></canvas>
        </div>
    </div>
</div>

<script>
    let canvas, ctx;
    document.addEventListener('DOMContentLoaded', (e) => {
        canvas = document.getElementById('canvas')
        ctx = canvas.getContext('2d')
        canvas.width = 1000
        canvas.height = 400
        ctx.moveTo(0, 400);
        <% for (let i = 0; i < periods; i++) {%>
        ctx.lineTo(100, <%=((balance[i]*-1)/400)+400%>);
        <%}%>
        ctx.stroke();

    })
</script>
<% include partials/footer %>