<% include partials/header%>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">
                Mongo DB APP
            </h1>
        </div>
        <div class="col-12">
            <legend>Authors</legend>
            <ul id="authorsList" style="list-style: none">
                <%if (authors != null){%>
                <% for(var i =0;i<authors.length;i++){%>
                <li>
                    <strong>Name</strong>
                    <%= authors[i].Name%>
                </li>
                <li>
                    <strong>Age</strong>
                    <%= authors[i].Age%>
                </li>
                <li><strong>Books</strong>
                    <ul style="list-style: none">
                        <%for (var x = 0; x<authors[i].Books.length;x++){%>
                        <li><strong>Title</strong>
                            <%=authors[i].Books[x].Title%>
                            <ul>
                                <li><strong>Pages</strong>
                                    <%=authors[i].Books[x].Pages%>
                                </li>
                            </ul>
                        </li>
                        <%}%>
                    </ul>
                </li>
                <%}%>
                <%}%>
            </ul>
        </div>
    </div>
</div>

<% include partials/footer%>