<% include partials/header%>
<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Testing Invisible reCaptcha</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <form>
            <button class="g-recaptcha" data-sitekey="6Lcyh28UAAAAAOT6GkWdxJJ3bSCNxi9hmQhfe0Qr" data-callback="YourOnSubmitFn">
                Submit
            </button></form>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 id="success"></span>
        </div>
    </div>
</div>

<script>
    function YourOnSubmitFn(token) {
        let input = {
            "captcha": token
        }
        $.post('/recaptcha', input, function (data) {
            if (data == true) {
                $("#success").text('reCaptcha returned True!')
                $("#success").fadeOut(3000);
            }else{
                $("#success").text('reCaptcha returned False',()=>{
                    console.log('.text has a callback');
                    $("#success").fadeOut(3000);
                })
            }
        })
    }
</script>

<% include partials/footer%>