﻿<%include partials/header%>
<style>
    canvas{
        margin:100px;
        border:solid black 4px;
    }
</style>
 <div id="score"></div>
    <canvas id="tetris" width="240" height="400" />
<script src ="/javascripts/tetris.js"></script>
<%include partials/footer%>