<% include partials/header%>

<main>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit molestiae itaque facere totam saepe tempore
        esse temporibus, quae reprehenderit aliquid iusto ea laborum, iure eligendi odio exercitationem sapiente illum
        quos.</p>

    <p><button id="btnStart">START RECORDING</button><br />
        <button id="btnStop">STOP RECORDING</button></p>

    <video controls></video>

    <video id="vid2" controls></video>

    <!-- could save to canvas and do image manipulation and saving too -->
</main>
<script src="/javascripts/videoSignature.min.js"></script>

<% include partials/footer%>