    @mixin border-radius($rad) {
        -webkit-border-radius: $rad;
        -moz-border-radius: $rad;
        -ms-border-radius: $rad;
        border-radius: $rad;
    }

    $border-color:blue;

    .form-control {
        border: solid blue 1px;
        background-color: aquamarine;
        @include border-radius(9px);
    }

    .form-control:focus {
        background-color: aquamarine*.95;
        border:dashed 2px;
        border-color:lightblue*.50;
        @include border-radius(2px)
    }