.form-control {
  border: solid blue 1px;
  background-color: aquamarine;
  border-radius: 9px;
}

.form-control:focus {
  background-color: #79f2c9;
  border: dashed 2px;
  border-color: #576c73;
  border-radius: 2px;
}

a {
  color: blue;
}

body {
  margin: 0;
}

.spinner {
  width: 50px;
  height: 50px;
  background: #dedbdb;
  border-radius: 50%;
  position: relative;
  margin: 15px;
  display: none;
}

.spinner:after, .spinner:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.spinner-1:after {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid;
  border-top-color: blue;
  border-bottom-color: red;
  border-right-color: green;
  border-left-color: yellow;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

.spinner-2 {
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 50%;
  position: relative;
  margin: 10px;
  display: inline-block;
}

.spinner-2:after, .spinner:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.spinner-3:after {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 8px solid transparent;
  border-top-color: blue;
  border-bottom-color: red;
  border-right-color: green;
  border-left-color: yellow;
  -webkit-animation: reverse-spin 1s linear infinite;
          animation: reverse-spin 1s linear infinite;
}

.bounce {
  color: red;
  -webkit-animation: bouncing 1s linear 2;
          animation: bouncing 1s linear 2;
  position: relative;
}

.altBounce {
  color: blue;
  -webkit-animation: bouncing 1s linear 2;
          animation: bouncing 1s linear 2;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  position: relative;
}

.success {
  background-color: greenyellow;
  display: none;
}

@-webkit-keyframes bouncing {
  0%, 100% {
    top: 0px;
  }
  50% {
    top: -10px;
  }
}

@keyframes bouncing {
  0%, 100% {
    top: 0px;
  }
  50% {
    top: -10px;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes reverse-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes reverse-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
/*# sourceMappingURL=style.css.map */